.nav li{
	display: inline;
}

.nav a{
	font-size: 15px;
	color: #ffffff;
	padding: 14px 15px;
	font-family: 'Tw Cen MT';
	text-transform: uppercase;
}

.nav{
	background-color: #56797F;
	height: 42px;
}

.jumbotron .container{
	position: relative;
}

.jumbotron p{
	font-size: 20px;
}

.bottom .container{
	text-align: center;
}